<div class="row">
  

  <%= @albums.each do |t|%>
  <div class="col-md-3">
    
      <div class="thumbnail">
        
        <div class="caption">
          <h3 class="title"><%=t.title%>  </h3>
          <p class="artist">  <%=t.artist%> </p>
        </div>
      </div>
    
  </div>
  -->
  <% end %>
</div>



